.contain1
{
    
  
    display: flex;
    padding-top:160px;
    gap:20px;
    justify-content: center;
    align-items: center;
    
}

.full_container,.services{
    background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width:100%;
    height:950px;
    
}

table{
    width:50%;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px aqua;
    font-size: 19px;
}

table, thead,tr,td,th{
  border-top:2px dashed rgb(251, 185, 63);
  border-bottom:2px dashed rgb(251, 185, 63);
  border-left:2px dashed violet;
  border-right:2px dashed violet;
    color:white;
}
.pro_head {
    font-size: 70px;
    color: aqua;
    text-align: center;
    padding-top: 80px;
  }
  
  .services-container {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adds space between the boxes */
  }
  
  .service-box {
    border-top:2px dashed rgb(251, 185, 63);
    border-bottom:2px dashed rgb(251, 185, 63);
    border-left:2px dashed violet;
    border-right:2px dashed violet;
    width: 400px; /* Adjust width as needed */
    margin: 10px; /* Adds space around each box */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color:transparent;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: transform 0.3s;
   
  }
  
  .service-box:hover {
    transform: scale(1.05);
  }
  
  .service-info {
    text-align: center;
  }
  
  .service-info img {
    border-radius: 8px;
  }
  
  .service-info h4 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: aqua;
  }
  
  .service-info ul {
    list-style: none;
    padding: 0;
  }
  
  .service-info li {
    margin-top: 10px;
  }
  
  .service-info p {
    font-size: 1rem;
    color: white !important;
  }
  
  .live_demo {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .live_demo:hover {
    text-decoration: underline;
  }
  

  @media (max-width:800px)
  {
    .full_container,.services{
      background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
      width:300%;
      height:950px;
      
  }
    
  .services-container {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adds space between the boxes */
  }
  }

  @media (max-width:480px)
  {
    .services{
      background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
      width:300%;
      height:1400px;
      
  }
  }


  @media (max-width:315px)
  {
    .services{
      background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
      width:300%;
      height:2000px;
      
      
  }
  }