.contain1
{
    
  
    display: flex;
    padding-top:160px;
    gap:20px;
    justify-content: center;
    align-items: center;
    
}

.full_container{
    background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width:100%;
    height:auto;
    
}

.services{
  background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
  
}

table{
    width:50%;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px aqua;
    font-size: 19px;
}

table, thead,tr,td,th{
  border-top:2px dashed rgb(251, 185, 63);
  border-bottom:2px dashed rgb(251, 185, 63);
  border-left:2px dashed violet;
  border-right:2px dashed violet;
    color:white;
}
.pro_head {
    font-size: 70px;
    color: aqua;
    text-align: center;
    padding-top: 80px;
  }
  
  .services-container {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adds space between the boxes */
  }
  
  .service-box {
    border-top:2px dashed rgb(251, 185, 63);
    border-bottom:2px dashed rgb(251, 185, 63);
    border-left:2px dashed violet;
    border-right:2px dashed violet;
    width: 450px; /* Adjust width as needed */
    margin: 10px; /* Adds space around each box */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color:transparent;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: transform 0.3s;
   
  }
  
  .service-box:hover {
    transform: scale(1.05);
  }
  
  .service-info {
    text-align: center;
  }
  
  .service-info img {
    border-radius: 8px;
  }
  
  .service-info h4 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: aqua;
  }
  
  .service-info ul {
    list-style: none;
    padding: 0;
  }
  
  .service-info li {
    margin-top: 10px;
  }
  
  .service-info p {
    font-size: 1rem;
    color: white !important;
  }
  
  .live_demo {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    
  }
  .live_demo1{
    width:130px;
    height:40px;
    margin-top: 16px;
    padding-bottom: 4px;
    background-color: aqua;
    border-radius: 10px;
    border: 2px dotted rgb(12, 205, 205);
    font-weight: bold;
  }
  .live_demo:hover {
    text-decoration: underline;
    color:white;
  }
  

 

  @media (max-width:450px)
  {
    .services{
      background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
      width: 100% !important;
      height:3600px;
      
  }
  .service-box{
    width: 350px;
  }
  .service-info img {
    width:330px
  }
  .full_container{
    background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width: 100% !important;
    height:auto;
   
  }

  .contain1{
    display: flex;
    flex-direction: column;
     padding-top: 39px;
  }
  table{
    width:80%;
    border-collapse: collapse;
   font-size: 16px;
  }
  }


  @media (min-width: 450px) and (max-width: 699px){
    .services{
      background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
      width: 100% !important;
      height:3300px;
      
  }
  .full_container{
    background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width: 100% !important;
   
  }

  .contain1{
    display: flex;
    flex-direction: column;
     padding-top: 39px;
  }
  table{
    width:80%;
    border-collapse: collapse;
   font-size: 16px;
  }
  }

  @media (min-width:700px) and (max-width:1000px){
    .services{
      background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
      width: 100% !important;
      height:3500px;
      
  }
  .full_container{
    background-image:url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width: 100% !important;
   
  }

  .contain1{
    display: flex;
    flex-direction: column;
     padding-top: 39px;
  }
  table{
    width:80%;
    border-collapse: collapse;
   font-size: 16px;
  }
  }