.skill {
  background-image: url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
  width: 100%;
  height: 880px;
}

.head {
  font-size: 60px;
  margin-bottom: 40px;
  color: white;
  padding-top: 20px;
}

.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}

.bar {
  font-size: 29px;
  margin-top: 20px;
}

.ht {
  font-size: 23px;
  font-style: italic;
  color: aliceblue;
  margin-left: 10px;
  margin-bottom: 10px;
}

.Technical-bars .bar {
  margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
  margin-top: 0;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0;
}

.Technical-bars .bar .info {
  margin-bottom: 5px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: white !important;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: aqua;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 80%;
}

.progress-line.css span {
  width: 80%;
}

.progress-line.javascript span {
  width: 80%;
}

.progress-line.react span {
  width: 80%;
}

.progress-line.node span {
  width: 80%;
}

.progress-line.Mongo span {
  width: 90%;
}

@media (max-width: 800px) {
  .skill {
    background-image: url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width: 300%;
    height: 880px;
  }
}

@media (max-width: 450px) {
  .skill {
    background-image: url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width: 100% !important;
    height: 880px;
  }
  .Technical-bars {
    position: absolute;
    left: 150px;
    margin-top: 60px;
  }
  .heading12 {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    left: 120px;
  }
}

@media (min-width: 450px) and (max-width: 699px){
  .skill {
    background-image: url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width: 100% !important;
    height: 880px;
  }
  .Technical-bars {
    position: absolute;
    left: 150px;
    margin-top: 60px;
    width:60%;
  }
  .heading12 {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    left: 160px;
  }
}

@media (min-width:700px) and (max-width:1000px){
  .skill {
    background-image: url("https://i.pinimg.com/originals/d9/46/35/d946357e717ddeb19d4742d51dcd2b61.jpg");
    width: 100% !important;
    height: 880px;
  }
  .Technical-bars {
    position: absolute;
    left: 150px;
    margin-top: 60px;
    width:60%;
  }
  .heading12 {
    font-size: 4.5rem;
    color: white;
    position: absolute;
    left: 160px;
  }
}