

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent extra white space on body and HTML */
html, body {
  overflow-x: hidden;
}


/* Logo */
.logo {
  text-decoration: none;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 70px;
  margin-top: 10px;
  transform: scale(1);
  padding: 12px;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  text-shadow: 3px 3px slateblue;
  text-decoration: 2px solid white !important;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 90px;
  background-color: black;
  color: white;
  backdrop-filter: blur(10px);
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Navigation List */
.nav_list {
  display: flex;
  gap: 30px;
}

.nav_list.show {
  display: flex;
}

.nav_list.hide {
  display: none;
}

/* Navigation Item */
.nav1 {
  text-decoration: none;
  font-style: italic;
  box-shadow: 3px 3px rgb(199, 195, 221);
  background-color: slateblue;
  color: white;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.nav1:hover {
  transform: scale(1.2);
  background-color: white;
  color: slateblue;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

@media (max-width: 450px) {
 
  .header{
    width: 100%;
    margin-left: 0px;
  }

  .nav_list {
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 30%;
    background-color: black;
    text-align: center;
    padding: 13px;
  }

  .nav1 {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    font-size: 18px;
  }

  .hamburger {
    display: block;
    width:50px !important;
    height: 30px!important;
  }
}


@media (min-width: 451px) and (max-width: 699px) {
 
  .header{
    width: 100%;
    margin-left: 0px;
  }

  .nav_list {
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 30%;
    background-color: black;
    text-align: center;
    padding: 13px;
  }

  .nav1 {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    font-size: 18px;
  }

  .hamburger {
    display: block;
    width:50px !important;
    height: 30px!important;
  }
}

@media (min-width:701px) and (max-width:1000px){
  .header{
    width:100%;
  }

  .nav_list {
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 30%;
    background-color: black;
    text-align: center;
    padding: 13px;
  }

  .nav1 {
    width: auto;
    padding: 15px 0;
    margin: 0;
    font-size: 18px;
  }

  .hamburger {
    display: block;
    width:50px !important;
    height: 30px!important;
  }
}

@media (min-width:1001px)
{
  .nav_list{
    display: flex!important;
  }
}